In [83]:
#from google.colab import drive
#drive.mount('/content/drive')

Mounted at /content/drive

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
from IPython.display import display
import datetime
import os
import seaborn as sns
#%load_ext tensorboard
#!rm -rf ./logs/

In [2]:
campaign_dataset = pd.read_csv('data/campaign_data.csv')
coupon_item_mapping = pd.read_csv('data/coupon_item_mapping.csv')
customer_demographics = pd.read_csv('data/customer_demographics.csv')
customer_transaction_data = pd.read_csv('data/customer_transaction_data.csv')
item_data = pd.read_csv('data/item_data.csv')
train_dataset = pd.read_csv('data/train.csv')

In [3]:
#@title Seeing the data
print('Train')
display(train_dataset.head())
print('--'*50)
print('campaign_dataset')
display(campaign_dataset.head())

print('--'*50)
print('coupon_item_mapping')
display(coupon_item_mapping.head())

print('--'*50)
print('customer_demographics')
display(customer_demographics.head())

print('--'*50)
print('customer_transaction_data')
display(customer_transaction_data.head())

print('--'*50)
print('item_data')
display(item_data.head())

Train

   id  campaign_id  coupon_id  customer_id  redemption_status
0   1           13         27         1053                  0
1   2           13        116           48                  0
2   6            9        635          205                  0
3   7           13        644         1050                  0
4   9            8       1017         1489                  0

----------------------------------------------------------------------------------------------------
campaign_dataset

   campaign_id campaign_type start_date  end_date
0           24             Y   21/10/13  20/12/13
1           25             Y   21/10/13  22/11/13
2           20             Y   07/09/13  16/11/13
3           23             Y   08/10/13  15/11/13
4           21             Y   16/09/13  18/10/13

----------------------------------------------------------------------------------------------------
coupon_item_mapping

   coupon_id  item_id
0        105       37
1        107       75
2        494       76
3        522       77
4        518       77

----------------------------------------------------------------------------------------------------
customer_demographics

,customer_id,age_range,marital_status,rented,family_size,no_of_children,income_bracket
0,1,70+,Married,0,2,NaN,4
1,6,46-55,Married,0,2,NaN,5
2,7,26-35,NaN,0,3,1,3
3,8,26-35,NaN,0,4,2,6
4,10,46-55,Single,0,1,NaN,5

----------------------------------------------------------------------------------------------------
customer_transaction_data

,date,customer_id,item_id,quantity,selling_price,other_discount,coupon_discount
0,2012-01-02,1501,26830,1,35.26,-10.69,0.0
1,2012-01-02,1501,54253,1,53.43,-13.89,0.0
2,2012-01-02,1501,31962,1,106.50,-14.25,0.0
3,2012-01-02,1501,33647,1,67.32,0.00,0.0
4,2012-01-02,1501,48199,1,71.24,-28.14,0.0

----------------------------------------------------------------------------------------------------
item_data

   item_id  brand   brand_type       category
0        1      1  Established        Grocery
1        2      1  Established  Miscellaneous
2        3     56        Local         Bakery
3        4     56        Local        Grocery
4        5     56        Local        Grocery

# Dataset Discription
![](https://s3-ap-south-1.amazonaws.com/av-blog-media/wp-content/uploads/2019/09/Screenshot-2019-09-28-at-8.58.32-PM.png)

# Exploratory Data Analysis (EDA)

In [4]:
print('Train')
display(train_dataset.isnull().any())
print('--'*50)
print('campaign_dataset')
display(campaign_dataset.isnull().any())

print('--'*50)
print('coupon_item_mapping')
display(coupon_item_mapping.isnull().any())

print('--'*50)
print('customer_demographics')
display(customer_demographics.isnull().any())

print('--'*50)
print('customer_transaction_data')
display(customer_transaction_data.isnull().any())

print('--'*50)
print('item_data')
display(item_data.isnull().any())

Train

id                   False
campaign_id          False
coupon_id            False
customer_id          False
redemption_status    False
dtype: bool

----------------------------------------------------------------------------------------------------
campaign_dataset

campaign_id      False
campaign_type    False
start_date       False
end_date         False
dtype: bool

----------------------------------------------------------------------------------------------------
coupon_item_mapping

coupon_id    False
item_id      False
dtype: bool

----------------------------------------------------------------------------------------------------
customer_demographics

customer_id       False
age_range         False
marital_status     True
rented            False
family_size       False
no_of_children     True
income_bracket    False
dtype: bool

----------------------------------------------------------------------------------------------------
customer_transaction_data

date               False
customer_id        False
item_id            False
quantity           False
selling_price      False
other_discount     False
coupon_discount    False
dtype: bool

----------------------------------------------------------------------------------------------------
item_data

item_id       False
brand         False
brand_type    False
category      False
dtype: bool

It seems that there is NaN values in only customer_demographics datast, Let's check how much values are NaN

In [5]:
customer_demographics.isnull().sum()

customer_id         0
age_range           0
marital_status    329
rented              0
family_size         0
no_of_children    538
income_bracket      0
dtype: int64

- We have to do something with null values so that we can do some data exploration of customers 
- Removing users is not good so we will fill the NaN values by taking median or mode of the corresponding row

In [6]:
customer_demographics.head(5)

,customer_id,age_range,marital_status,rented,family_size,no_of_children,income_bracket
0,1,70+,Married,0,2,NaN,4
1,6,46-55,Married,0,2,NaN,5
2,7,26-35,NaN,0,3,1,3
3,8,26-35,NaN,0,4,2,6
4,10,46-55,Single,0,1,NaN,5

In [7]:
customer_demographics['marital_status'].unique()

array(['Married', nan, 'Single'], dtype=object)

In [8]:
customer_demographics['marital_status'].value_counts()

Married    317
Single     114
Name: marital_status, dtype: int64

In [9]:
customer_demographics.marital_status.fillna("Married", inplace = True)

In [10]:
customer_demographics['no_of_children'].value_counts()

1     107
3+     60
2      55
Name: no_of_children, dtype: int64

In [11]:
customer_demographics['no_of_children'].fillna("1", inplace = True)

In [12]:
customer_demographics.head(5)

,customer_id,age_range,marital_status,rented,family_size,no_of_children,income_bracket
0,1,70+,Married,0,2,1,4
1,6,46-55,Married,0,2,1,5
2,7,26-35,Married,0,3,1,3
3,8,26-35,Married,0,4,2,6
4,10,46-55,Single,0,1,1,5

### Data Exploration of  customers

In [13]:
#customer_demographics['marital_status'].hist()

In [14]:
#customer_demographics['rented'].hist()

In [15]:
#customer_demographics['family_size'].hist()

In [16]:
#customer_demographics['no_of_children'].hist()

In [17]:
#customer_demographics['income_bracket'].hist()

In [18]:
#import seaborn as sns
#sns.set(rc={'figure.figsize':(11.7,8.27)})
#sns.heatmap(customer_demographics.corr(), annot=True)

The heatmap is saying that none of the thing is so much correlated with each other

In [19]:
print('train_dataset')
display(train_dataset.sort_values(by=['campaign_id'], ascending=[True]).head(5))
print('--'*50)
print('campaign_dataset')
display(campaign_dataset.sort_values(by=['campaign_id'], ascending=[True]).head(5))
print('--'*50)
print('coupon_item_mapping')
display(coupon_item_mapping.sort_values(by=['coupon_id'], ascending=[True]).head(5))
print('--'*50)
print('customer_demographics')
display(customer_demographics.sort_values(by=['customer_id'], ascending=[True]).head(5))
print('--'*50)
print('customer_transaction_data')
display(customer_transaction_data.sort_values(by=['customer_id'], ascending=[True]).head(5))
print('--'*50)
print('item_data')
display(item_data.sort_values(by=['item_id'], ascending=[True]).head(5))

train_dataset

          id  campaign_id  coupon_id  customer_id  redemption_status
60615  99597            1        312           63                  0
3361    5611            1        312           72                  0
47688  78147            1       1112          401                  0
41682  68403            1       1026          595                  0
44900  73647            1        562          930                  0

----------------------------------------------------------------------------------------------------
campaign_dataset

    campaign_id campaign_type start_date  end_date
21            1             Y   12/12/12  18/01/13
22            2             Y   17/12/12  18/01/13
18            3             Y   22/12/12  16/02/13
20            4             Y   07/01/13  08/02/13
19            5             Y   12/01/13  15/02/13

----------------------------------------------------------------------------------------------------
coupon_item_mapping

       coupon_id  item_id
31428          1    47797
31427          1    67376
29133          1    59942
29036          1    59841
31429          1    67131

----------------------------------------------------------------------------------------------------
customer_demographics

,customer_id,age_range,marital_status,rented,family_size,no_of_children,income_bracket
0,1,70+,Married,0,2,1,4
1,6,46-55,Married,0,2,1,5
2,7,26-35,Married,0,3,1,3
3,8,26-35,Married,0,4,2,6
4,10,46-55,Single,0,1,1,5

----------------------------------------------------------------------------------------------------
customer_transaction_data

,date,customer_id,item_id,quantity,selling_price,other_discount,coupon_discount
1302808,2013-06-24,1,24285,1,78.01,0.00,0.0
110769,2012-04-11,1,54384,1,53.43,-13.89,0.0
110768,2012-04-11,1,52350,1,102.59,-68.03,0.0
110767,2012-04-11,1,51608,1,89.05,-74.45,0.0
110766,2012-04-11,1,45986,1,83.35,-48.09,0.0

----------------------------------------------------------------------------------------------------
item_data

   item_id  brand   brand_type       category
0        1      1  Established        Grocery
1        2      1  Established  Miscellaneous
2        3     56        Local         Bakery
3        4     56        Local        Grocery
4        5     56        Local        Grocery

In [20]:
print('item_data')
display(item_data.shape)
print('-'*30)
print('customer_transaction_data')
display(customer_transaction_data.shape)
print('-'*30)
print('customer_demographics') # done
display(customer_demographics.shape)
print('-'*30)
print('coupon_item_mapping')  # done
display(coupon_item_mapping.shape)
print('-'*30)
print('campaign_dataset') # done
display(campaign_dataset.shape)
print('-'*30)
print('train_dataset')  # done
display(train_dataset.shape)

item_data

(74066, 4)

------------------------------
customer_transaction_data

(1324566, 7)

------------------------------
customer_demographics

(760, 7)

------------------------------
coupon_item_mapping

(92663, 2)

------------------------------
campaign_dataset

(28, 4)

------------------------------
train_dataset

(78369, 5)

In [21]:
#train_dataset['redemption_status'].hist()

In [22]:
#item_data['brand_type'].hist()

In [23]:
item_data['category'].unique()

array(['Grocery', 'Miscellaneous', 'Bakery', 'Pharmaceutical',
       'Packaged Meat', 'Seafood', 'Natural Products',
       'Dairy, Juices & Snacks', 'Prepared Food', 'Skin & Hair Care',
       'Meat', 'Travel', 'Flowers & Plants', 'Fuel', 'Salads', 'Alcohol',
       'Garden', 'Restauarant', 'Vegetables (cut)'], dtype=object)

# Let's join the all the dataset

## First seeing the Dataset_Discription again 
![Dataset_Discription](https://s3-ap-south-1.amazonaws.com/av-blog-media/wp-content/uploads/2019/09/Screenshot-2019-09-28-at-8.58.32-PM.png)

## Lets concatenate all other dataset to train dataset

In [24]:
cust_demo_data=pd.merge(train_dataset,customer_demographics,how='left')

In [25]:
campaign_data=pd.merge(train_dataset,campaign_dataset,how='left')

In [26]:
data=pd.merge(train_dataset,customer_demographics,how='left')

In [27]:
coupon_item_data=pd.merge(coupon_item_mapping,item_data ,how='inner')

In [28]:
coupon_item_data.groupby('coupon_id')['category'].value_counts()

coupon_id  category
1          Natural Products            30
           Grocery                      9
2          Grocery                      2
3          Grocery                     17
4          Grocery                     24
5          Pharmaceutical               7
6          Grocery                   3082
           Dairy, Juices & Snacks     259
           Packaged Meat              242
           Seafood                    128
           Meat                         2
7          Natural Products          1880
           Flowers & Plants           642
           Dairy, Juices & Snacks     224
           Garden                      94
           Miscellaneous               37
           Salads                      18
           Grocery                     17
           Travel                      10
           Vegetables (cut)             7
           Pharmaceutical               4
           Bakery                       3
           Seafood                      3
           Packaged Meat                2
           Prepared Food                1
8          Meat                      2029
           Packaged Meat             1661
           Miscellaneous               15
           Grocery                      8
           Prepared Food                4
                                     ...
1089       Pharmaceutical             123
1090       Pharmaceutical              28
1091       Pharmaceutical              29
1092       Pharmaceutical              29
1093       Pharmaceutical              14
1094       Pharmaceutical              14
1095       Pharmaceutical              11
1096       Pharmaceutical              11
1097       Pharmaceutical              27
1098       Pharmaceutical              26
1099       Pharmaceutical              10
1100       Grocery                      5
1101       Pharmaceutical             111
1102       Pharmaceutical              37
1103       Grocery                      7
1104       Grocery                      7
1105       Pharmaceutical               1
1106       Grocery                      4
           Dairy, Juices & Snacks       3
1107       Grocery                      8
1108       Pharmaceutical               2
1109       Grocery                     48
           Skin & Hair Care             1
1110       Grocery                      4
1111       Grocery                      4
1112       Grocery                      6
1113       Pharmaceutical              15
1114       Pharmaceutical               3
1115       Grocery                      7
1116       Pharmaceutical               2
Name: category, Length: 1256, dtype: int64

In [29]:
customer_transaction_data =pd.merge(customer_transaction_data ,item_data ,how='inner')

In [30]:
data=pd.merge(cust_demo_data,campaign_data)
data=pd.merge(data,coupon_item_data)
data=pd.merge(data,customer_transaction_data)

In [31]:
data=data.drop(['id'], axis=1)
data=data.drop(['date','start_date','end_date'],axis=1)

In [32]:
X = data.drop('redemption_status',1)

In [33]:
X.marital_status.fillna("Married", inplace = True)

In [34]:
X['no_of_children'].fillna("1", inplace = True)

In [35]:
X['age_range'].value_counts()

46-55    31052
36-45    26815
26-35    19603
56-70     6770
70+       5987
18-25     4628
Name: age_range, dtype: int64

In [36]:
X['age_range'].mode()

0    46-55
dtype: object

In [37]:
X['age_range'].fillna(X['age_range'].mode()[0], inplace=True)

In [38]:
X['rented'].value_counts()

0.0    89610
1.0     5245
Name: rented, dtype: int64

In [39]:
X['rented'].fillna(X['rented'].mode()[0], inplace=True)

In [40]:
X['family_size'].value_counts()

2     35823
1     27055
3     14514
4      8892
5+     8571
Name: family_size, dtype: int64

In [41]:
X['family_size'].fillna(X['family_size'].mode()[0], inplace=True)

In [42]:
X['income_bracket'].value_counts()

5.0     27692
4.0     17504
6.0     11792
1.0      7707
3.0      6156
8.0      5627
2.0      5431
7.0      4817
9.0      4557
12.0     1867
10.0     1342
11.0      363
Name: income_bracket, dtype: int64

In [43]:
X['income_bracket'].fillna(X['income_bracket'].mode()[0], inplace=True)

In [44]:
X.isnull().any()

campaign_id        False
coupon_id          False
customer_id        False
age_range          False
marital_status     False
rented             False
family_size        False
no_of_children     False
income_bracket     False
campaign_type      False
item_id            False
brand              False
brand_type         False
category           False
quantity           False
selling_price      False
other_discount     False
coupon_discount    False
dtype: bool

In [45]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 141060 entries, 0 to 141059
Data columns (total 18 columns):
campaign_id        141060 non-null int64
coupon_id          141060 non-null int64
customer_id        141060 non-null int64
age_range          141060 non-null object
marital_status     141060 non-null object
rented             141060 non-null float64
family_size        141060 non-null object
no_of_children     141060 non-null object
income_bracket     141060 non-null float64
campaign_type      141060 non-null object
item_id            141060 non-null int64
brand              141060 non-null int64
brand_type         141060 non-null object
category           141060 non-null object
quantity           141060 non-null int64
selling_price      141060 non-null float64
other_discount     141060 non-null float64
coupon_discount    141060 non-null float64
dtypes: float64(5), int64(6), object(7)
memory usage: 20.4+ MB

In [46]:
X = pd.get_dummies(X)
X.shape

(141060, 47)

In [47]:
y = data.redemption_status

In [48]:
print('X Dataset')
display(X.head(10))
print('-'*50)
print('Y Dataset')
print('')
display(y.head(10))

X Dataset

,campaign_id,coupon_id,customer_id,rented,income_bracket,item_id,brand,quantity,selling_price,other_discount,...,category_Miscellaneous,category_Natural Products,category_Packaged Meat,category_Pharmaceutical,category_Prepared Food,category_Salads,category_Seafood,category_Skin & Hair Care,category_Travel,category_Vegetables (cut)
0,13,27,351,0.0,5.0,5835,1636,1,62.33,0.00,...,0,0,0,0,0,0,0,0,0,0
1,13,27,351,0.0,5.0,9515,1105,1,85.13,-56.99,...,0,0,0,0,0,0,0,0,0,0
2,13,27,351,0.0,5.0,9515,1105,1,106.86,-35.26,...,0,0,0,0,0,0,0,0,0,0
3,13,27,351,0.0,5.0,9515,1105,1,106.86,-35.26,...,0,0,0,0,0,0,0,0,0,0
4,13,27,351,0.0,5.0,12957,1105,1,71.24,-70.88,...,0,0,0,0,0,0,0,0,0,0
5,13,27,351,0.0,5.0,16371,1105,1,85.13,-56.99,...,0,0,0,0,0,0,0,0,0,0
6,13,27,351,0.0,5.0,16371,1105,1,85.13,-56.99,...,0,0,0,0,0,0,0,0,0,0
7,13,27,351,0.0,5.0,16371,1105,1,106.86,-35.26,...,0,0,0,0,0,0,0,0,0,0
8,13,27,351,0.0,5.0,16371,1105,1,106.86,-35.26,...,0,0,0,0,0,0,0,0,0,0
9,13,27,351,0.0,5.0,16371,1105,1,106.86,-35.26,...,0,0,0,0,0,0,0,0,0,0

--------------------------------------------------
Y Dataset

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
Name: redemption_status, dtype: int64

In [ ]:
sns.heatmap(data.corr())

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [ ]:
y.hist()

# Making the Model

## Simple Model

In [0]:
model = tf.keras.models.Sequential([
  tf.keras.layers.Dense(468, activation='tanh', input_dim=47),
  tf.keras.layers.Dropout(0.4),
  tf.keras.layers.Dense(234, activation='tanh'),
  tf.keras.layers.Dropout(0.4),
  tf.keras.layers.Dense(127, activation='tanh'),
  tf.keras.layers.Dropout(0.4),
  tf.keras.layers.Dense(64, activation='tanh'),
  tf.keras.layers.Dropout(0.4),
  tf.keras.layers.Dense(32, activation='tanh'),
  tf.keras.layers.Dropout(0.4),
  tf.keras.layers.Dense(16, activation='tanh'),
  tf.keras.layers.Dropout(0.4),
  tf.keras.layers.Dense(8, activation='tanh'),
  tf.keras.layers.Dropout(0.4),
  tf.keras.layers.Dense(4, activation='tanh'),
  tf.keras.layers.Dropout(0.4),
  tf.keras.layers.Dense(2, activation='tanh'),
  tf.keras.layers.Dropout(0.4),
  tf.keras.layers.Dense(1, activation='sigmoid')
])

In [135]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_16 (Dense)             (None, 468)               22464
_________________________________________________________________
dropout_9 (Dropout)          (None, 468)               0
_________________________________________________________________
dense_17 (Dense)             (None, 234)               109746
_________________________________________________________________
dropout_10 (Dropout)         (None, 234)               0
_________________________________________________________________
dense_18 (Dense)             (None, 127)               29845
_________________________________________________________________
dropout_11 (Dropout)         (None, 127)               0
_________________________________________________________________
dense_19 (Dense)             (None, 64)                8192
_________________________________________________________________
dropout_12 (Dropout)         (None, 64)                0
_________________________________________________________________
dense_20 (Dense)             (None, 32)                2080
_________________________________________________________________
dropout_13 (Dropout)         (None, 32)                0
_________________________________________________________________
dense_21 (Dense)             (None, 16)                528
_________________________________________________________________
dropout_14 (Dropout)         (None, 16)                0
_________________________________________________________________
dense_22 (Dense)             (None, 8)                 136
_________________________________________________________________
dropout_15 (Dropout)         (None, 8)                 0
_________________________________________________________________
dense_23 (Dense)             (None, 4)                 36
_________________________________________________________________
dropout_16 (Dropout)         (None, 4)                 0
_________________________________________________________________
dense_24 (Dense)             (None, 2)                 10
_________________________________________________________________
dropout_17 (Dropout)         (None, 2)                 0
_________________________________________________________________
dense_25 (Dense)             (None, 1)                 3
=================================================================
Total params: 173,040
Trainable params: 173,040
Non-trainable params: 0
_________________________________________________________________

In [0]:
logdir = os.path.join("logs", datetime.datetime.now().strftime("%Y%m%d-%H%M%S"))
tensorboard_callback = tf.keras.callbacks.TensorBoard(logdir)

In [0]:
model.compile(optimizer = 'RMSprop', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [0]:
#%tensorboard --logdir logs

In [0]:
#from tensorboard import notebook
#notebook.list()

In [0]:
#notebook.display(port=6006, height=1000)

In [141]:
model.fit(X_train, y_train, epochs = 5, batch_size = 100)
#model.fit(X, y, epochs = 100, batch_size = 100, callbacks=[tensorboard_callback])

Epoch 1/5
112848/112848 [==============================] - 8s 68us/sample - loss: 0.4620 - acc: 0.8429
Epoch 2/5
112848/112848 [==============================] - 7s 65us/sample - loss: 0.4101 - acc: 0.8618
Epoch 3/5
112848/112848 [==============================] - 7s 65us/sample - loss: 0.4038 - acc: 0.8618
Epoch 4/5
112848/112848 [==============================] - 7s 65us/sample - loss: 0.4023 - acc: 0.8618
Epoch 5/5
112848/112848 [==============================] - 7s 65us/sample - loss: 0.4019 - acc: 0.8618

In [142]:
model.evaluate(X_test, y_test)

28212/28212 [==============================] - 2s 63us/sample - loss: 0.3996 - acc: 0.8629

[0.3996252179754282, 0.86293066]

In [0]:
y_pred = model.predict(X_test)

In [0]:
#!kill 1578

In [155]:
y_pred

array([[0.13911116],
       [0.13911116],
       [0.13911134],
       ...,
       [0.13911116],
       [0.13911116],
       [0.13911134]], dtype=float32)

In [0]:
y_pred = pd.DataFrame(y_pred)

In [157]:
y_pred.head(5)

          0
0  0.139111
1  0.139111
2  0.139111
3  0.139111
4  0.139111

In [158]:
y_pred.head(5)

          0
0  0.139111
1  0.139111
2  0.139111
3  0.139111
4  0.139111

In [0]:
from sklearn.metrics import confusion_matrix

In [160]:
results = confusion_matrix(y_test, y_pred)

ValueError: ignored

In [0]:
results